.titlePokedex{
    color: white;
    text-align: center;
}

.cardPkm{
    border: solid grey 2px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-right: 20px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
        ),url(../pokeball/masseball.png);
    background-size:cover;
    background-repeat:no-repeat;
}
.cardPokemon {
    min-height: 163px;
    max-height: 163px;
    z-index: 101; 
    line-height: 210px; 
    text-align: center;
}

.pkmName{
    text-align: center;
    font-size: 20px;
    color: white;
}

.pkmNickname{
    text-align: center;
    font-size: 20px;
    position: relative;
    color: orange;
    font-family: 'Righteous', cursive;
}

.cardPkmSuper{
    border: solid grey 2px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-size:cover;
    background-repeat:no-repeat;
}

#pokedex a {
    text-decoration: none;
}

#namePkmModal{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}
hr{
    margin: 0;
}
#nickNameModal{
    color: orange;
    font-weight: bold;
    text-align:center;
    font-size: 30px;
}
.imgModal{
    display: block;
    margin: auto;
}
.ballModal{
    padding: 0;
    margin: 0;
    position: absolute;
    left : 30px;
    top:15px;
}

@media screen and (max-width: 574px) {
    #pokedex {
        margin-left: 12%;
    }

    .ballModal{
        padding: 0;
        margin: 0;
        position: absolute;
        left : 10px;
        top:20px;
    }
}

.addButton {
    width: 80px;
    height: 80px;
    border: 2px green solid;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}

.pokedexName {
    padding-top: 10%;
    margin-bottom: 5%;
}

.textAdd{
    position: relative;
    top: 30%;
    left: 25%;
    color: white;
}

.pokedexModal .modal-content{
}