.titlePokedex{
    text-align: center;
    margin-bottom: 5%;
}

.cardPkm{
    border: solid grey 2px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-right: 20px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),url(../pokeball/masseball.png);
  background-size:cover;
  background-repeat:no-repeat;
}
.cardPokemon {
    min-height: 163px;
    max-height: 163px;
    z-index: 101; 
    line-height: 210px; 
    text-align: center;
}
.cardBall{
}

.pkmName{
    text-align: center;
    font-size: 20px;
    color: white;
}

.pkmNickname{
    text-align: center;
    font-size: 20px;
    position: relative;
    color: orange;
    font-family: 'Righteous', cursive;
}

.cardPkmSuper{
    border: solid grey 2px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-right: 20px;
  background-size:cover;
  background-repeat:no-repeat;
}

@media screen and (max-width: 574px) {
  #pokedex {
      margin-left: 12%;
  }
}

#pokedex a {
    text-decoration: none;
}

