.cardProfile{
    background: grey;
    width: 18rem;
    height: 50%;
    position: absolute;
    z-index: 200000000;
    top: 150px;
    left: 150px;
    box-shadow: 10px 10px 20px 0px #202020;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#202020, Direction=134, Strength=20);        border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    margin-bottom: 20px;
}

.bannerParallax{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

.profilePicture{
    height: 100%;
    border-bottom: 5px black solid;
}

.profilePicture img{
    width:100%;
    height:100%;
    object-fit: cover; 
}

.profileInfos{
    color: white;
    height-min: 10%;
    background: #373A47;
            border-bottom-left-radius: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
padding-bottom: 20px;
margin-bottom: 150px;
color:white;
}

#pseudo{
    font-size: 30px;
    text-align: center;
}

#titleMember{
    text-align: center;
}

#numberShinies{
    text-align: center;
}

.safariPark{
    background: #373A47;
    padding-top : 30px;
    padding-bottom : 30px;
    color : white;
}
.gen1{
    color:white;
}
#biouser{
    word-wrap:break-word;
    padding-left: 20px;
    padding-right: 20px;
}
.tiles {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tile {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card{
    background-color: #484B58;
    border:transparent;
}
.card-body{
    background-color: #595C69;
    border:transparent;
}

.btn{
    cursor: pointer;
    color: white;
    padding: 0;
}
.btn-link:hover{
    box-shadow: none;
    color: #2E7AAB;
    text-decoration: none;
}
.progressHunt{
    text-align: center;
}
.detailsHunt{
    color:white;
}
#typePark{
    margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
    .cardProfile{
        display : none;
    }
}
@media screen and (min-width: 992px) and (max-width: 1594px) {
    .cardProfile{
        background: grey;
        width: 18rem;
        height: 50%;
        position: absolute;
        z-index: 200000000;
        top: 150px;
        left: 15px;
        box-shadow: 10px 10px 20px 0px #202020;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#202020, Direction=134, Strength=20); border-bottom-left-radius: 15px;
        -moz-border-radius-bottomleft: 15px;
        -webkit-border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
        -webkit-border-bottom-right-radius: 15px;
    }
}
#formPictures{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index:100000000;
  height:100%;
  padding-top:75%
}
#formPictures:hover {
  opacity: 1;
}
#formBanner{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width:75%;
  left:50%;
  top:0;
  padding-top:330px;  
  padding-bottom:125px;
  height:500px;
}
#formBanner:hover {
  opacity: 1;
}
#validPictures{
    background:#373A47;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}