.cardProfile{
    background: grey;
    width: 18rem;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 200000000;
    top: 150px;
    left: 150px;
    box-shadow: 10px 10px 20px 0px #202020;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#202020, Direction=134, Strength=20);        border-bottom-left-radius: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
}

.bannerParallax{
    height: 250px;
    background-color: red;
}

.profilePicture{
    height: 50%;
    border-bottom: 5px black solid;
}

.profilePicture img{
  width:100%;
  height:100%;
object-fit: cover; 
}

.profileInfos{
    height: 50%;
    background: grey;
            border-bottom-left-radius: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
}

#pseudo{
    font-size: 30px;
    text-align: center;
}

#titleMember{
    text-align: center;
}

#numberShinies{
    text-align: center;
}

.safariPark{
    height: 200px;
    background: blue;
}
.gen1{
    background: green;
}
