/* Fond de la fenêtre */
.window-bg {
    display: none; /* On cache la fenêtre à l'affichage de la page */
    position: fixed;
    left : 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.75); 
}

/* Fenêtre */
.window-bg .window {
    position: absolute;
    left : 50%;
    top : 50%;
    width : 600px;
    background: #fff;
    color : #222;
    transform: translateX(-50%) translateY(-50%); /* Décaler vers le haut et à gauche de la moitié de la taille de la fenêtre */
}

/* Titre de la fenêtre */
.window-bg .window .window-title {
    background: #E74C3C;
    padding : 20px 0;
    font-weight: bold;
    text-align: center;
    color : #fff;
    text-transform: uppercase;
}

/* Contenu de la fenêtre */
.window-bg .window .window-content {
    padding : 40px;
}

/* Boutons de la fenêtre */
.window-bg .window .window-buttons {
    border-top : 2px solid #ccc;
    padding : 20px;
    text-align: center;
}
.window-bg .window .window-buttons .button {
    display: inline-block;
    padding : 10px 20px;
    background: #E74C3C;
    color : #fff;
    text-decoration: none;
    border-radius: 4px;
}